{% comment %}Drop the div .alert classes to revert to the default banner styling.{% endcomment -%}
<div class="banner">
  <p class="banner__text">
    Dart 2.18 ya está disponible con interoperabilidad de Objective-C y Swift y mejoras de networking, la inferencia de tipos y el rendimiento del código asíncrono. <a href="https://medium.com/@mit.mit/dart-2-18-f4b3101f146c">Más información</a><br>
    Los equipos de Flutter y Dart están contratando.
    <a href="https://docs.flutter.dev/jobs">Más información</a>
  </p>
</div>