<section id="cookie-notice">
  <div class="container">
    <p>Google utiliza cookies para prestar sus servicios, personalizar anuncios y analizar el tráfico. 
      Puedes ajustar tus controles de privacidad en cualquier momento en tu 
      <a href="https://myaccount.google.com/data-and-personalization" target="_blank" rel="noopener" class="no-automatic-external">Configuración de Google</a>.
      <a href="https://policies.google.com/technologies/cookies" target="_blank" rel="noopener" class="no-automatic-external">Más información</a>.
    </p>
    <button id="cookie-consent" class="btn btn-primary">Entiendo</button>
  </div>
</section>
